.users.show {
  .user-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);

    background: map-get($brand-gray, 'light');
    padding: $grid-gutter-width;
  }

  .user-avatar {
    width: 6.25rem;
    height: 6.25rem;
    background-size: cover;
  }

  .user-card h4 {
    text-transform: uppercase;
  }
}