<div class="user-card" hidden>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="user-avatar"></div>
    </div>
    <div class="col-sm-6 col-md-8" id="user-info">
      <h4></h4>
      <p>
        <i class="glyphicon glyphicon-envelope"></i>
        <a href="#" class="user-email"></a>
        <br />

        <i class="glyphicon glyphicon-globe"></i>
          <a href="#" class="user-url"></a>
        <br />

        <i class="glyphicon glyphicon-gift"></i>
        <span class="user-joined-at"></span>
      </p>
    </div>
  </div>
</div>

<div class="user-card" id="not-found" hidden>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="user-avatar"></div>
    </div>
    <div class="col-sm-6 col-md-8 user-info">
      <h4></h4>
      <p>
        <i class="glyphicon glyphicon-envelope"></i>
        <a href="#" class="user-email"></a>
        <br />

        <i class="glyphicon glyphicon-globe"></i>
        <a href="#" class="user-url"></a>
        <br />

        <i class="glyphicon glyphicon-gift"></i>
        <span class="user-joined-at"></span>
      </p>
    </div>
  </div>
</div>