$grid-gutter-width: 2.5rem;

$brand-gray: (
        darkest: #393939,
        darker: #383e39,
        dark: #919191,
        primary: #c8c8c8,
        light: #d8d8d8,
        lighter: #eaeaea,
        lightest: #fcfcfc
);