<!DOCTYPE html>
<html>
  <head>
    <title>ServiceWorkersRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="manifest" href="/manifest.json" />
  <body>
    <%= yield %>
  </body>
</html>
